<section id="fechas" class="grid items-center gap-8 py-16">
  <div class="flex flex-col sm:flex-row flex-1 justify-center gap-10">
    <select class="select w-full xl:w-[220px] sm:text-center bg-[#FBFBFB] rounded-[4px] border-0 py-2 px-4">
      <option disabled selected>Pickup Location</option>
      {% for zone in zones %}
      <option >{{ zone.name }}</option>
      {% endfor %}
    </select>
    <input type="date" placeholder="Type here" class="input w-full xl:w-[220px] sm:text-center bg-[#FBFBFB] rounded-[4px] border-0 py-2 px-4" />
    <input type="date" placeholder="Type here" class="input w-full xl:w-[220px] sm:text-center bg-[#FBFBFB] rounded-[4px] border-0 py-2 px-4" />
  </div>

  <div class="flex flex-col sm:flex-row flex-1 justify-center gap-10">
    <select class="select w-full xl:w-[220px] sm:text-center bg-[#FBFBFB] rounded-[4px] border-0 py-2 px-4">
      <option disabled selected>Car Type</option>
      {% for car in cars %}
      <option >{{ car.name }}</option>
      {% endfor %}
    </select>
    <a href="{% url 'core:results_view' %}" class="btn w-full xl:w-[270px] bg-[#4abbc1] hover:bg-[#047884] rounded-[4px] border-0 text-white text-[24px] sm:w-64 py-3">Book Now</a>
  </div>
</section>
