{% load static %}
<div class="hero min-h-[94vh] bg-center text-white" style="background-image: url({% static 'images/background-hero.png' %});">
    <div class="hero-content flex-col xl:flex-row gap-x-40">
        <div class="max-w-xl">
            <span class="text-xs tracking-[1.92px] normal-nums">TRAVEL THROUGH PUERTO VALLARTA THE RIGHT WAY</span>
            <h1 class="text-5xl leading-[60px] font-bold">Call to action</h1>
            <p class="text-lg leading-[27px] py-6">
                Lorem ipsum dolor sit amet consectetur.
                Aliquam nibh quam vivamus ultricies semper sed gravida dictumst nunc.
                Ut ac luctus facilisis ipsum mauris volutpat elementum ut.
            </p>
            <svg class="lg:absolute lg:bottom-8 left-70" xmlns="http://www.w3.org/2000/svg" width="130" height="133"
                viewBox="0 0 130 133" fill="none">
                <path
                    d="M2.8634 2.63518C16.7812 24.8898 34.9994 39.447 64.7506 36.3175C74.7657 35.2641 87.7387 28.3567 75.1071 20.0547C63.3733 12.3427 41.3882 19.6329 32.9566 32.0659C20.3036 50.7238 32.6065 69.4406 46.892 80.4014C68.9933 97.3591 92.8582 112.325 119.664 122.254C125.125 124.277 110.185 91.9562 113.743 103.749C116.253 112.073 120.632 118.136 125.622 125.004C129.215 129.95 125.038 128.152 120.168 127.306C112.252 125.933 101.611 126.66 93.6974 130.11"
                    stroke="#F5D112" stroke-width="5" stroke-linecap="round" />
            </svg>
        </div>
        <div class="relative">
            <div class="absolute top-1 right-0 bg-white flex grid-cols-2 gap-2 items-center justify-center p-2 rounded-lg w-[173px] h-[74px]">
                <div class="align-middle">
                    <img class="" src="{% static 'images/trophy.png'%}" alt=""> 
                </div>
                <div class="text-black ">
                    <p class="text-base">Safety</p>
                    <p class="text-xs">Lorem ipsum</p>
                </div>
            </div>
            <img src="{% static 'images/hero-item.png'%}" class="lg:max-w-xl rounded-lg" />

            <div class="absolute bottom-0 left-0 bg-white flex grid-cols-2 gap-2 items-center justify-center p-2 rounded-lg w-[173px] h-[74px]">
                <div class="align-middle">
                    <img class="" src="{% static 'images/trophy.png'%}" alt="">
                </div>
                <div class="text-black text-center">
                    <p class="text-base">Certification</p>
                    <p class="text-base">Name</p>
                </div>
            </div>
        </div>

    </div>
</div>