{% load static %}
<div class="hero min-h-[94vh] bg-center text-white" style="background-image: url({% static 'images/background-hero.jpeg' %});">
    <div class="hero-content flex-col xl:flex-row gap-x-40">
        <div class="max-w-xl">
            <span class="text-xs tracking-[1.92px] normal-nums">TRAVEL THROUGH PUERTO VALLARTA SAFELY AND COMFORTABLY</span>
            <h1 class="text-5xl leading-[60px] font-bold">Call to action</h1>
            <p class="text-lg leading-[27px] py-6">
                 Your trusted private transportation
                Explore Puerto Vallarta and its surroundings with a premium transportation service. 
                Safety, punctuality, and comfort on every trip. Book now and travel worry-free!
            </p>

        </div>
        <div class="relative">

        </div>

    </div>
</div>