{% load static %}

<section id="nosotros" class="my-16">
    <div class="hero bg-[#FFF] text-black">
        <div class="hero-content flex-col gap-[3rem] xl:flex-row lg:gap-x-20 xl:gap-x-40">
            <div class="max-w-xl">
                <div class="relative">
                    <span class="absolute inset-0 text-[60px] md:text-[96px] text-[#E5E5E5] font-bold flex items-center justify-self-start bottom-[3rem] opacity-50 z-0">
                        Who we are
                    </span>
                    <p class="text-3xl md:text-5xl font-bold relative z-10 text-gray-800">
                        Who are We
                    </p>
               </div>
                <p class="text-lg leading-[27px] py-6">
                    Lorem ipsum dolor sit amet consectetur. Aliquam nibh quam vivamus ultricies semper sed
                    gravida dictumst nunc. Ut ac luctus facilisis ipsum mauris volutpat elementum ut. Volutpat
                    nullam tellus egestas scelerisque tellus.
                    <br>
                    <br>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                </p>
                <a href="#contactanos"
                    class="btn bg-[#4abbc1] hover:bg-[#047884] rounded-[4px] border-0 text-white text-[16px] sm:w-64 w-full">Contact Us for special requests</a>
            </div>
            <div class="relative">
                <img src="{% static 'images/nosotros.png'%}" class="lg:max-w-lg rounded-lg" />
            </div>
    
        </div>
    </div>
</section>