@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gobold';
        src: url('./fonts/Gobold-Regular.otf') format('otf');
        src: url('./fonts/Gobold Regular.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Gobold';
        src: url('./fonts/Gobold-Bold.otf') format('otf');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}

/* src: url('./../fonts/Gobold-Bold-Italic.otf') format('otf'),
url('./../fonts/Gobold-Bold.otf') format('otf'),
url('./../fonts/Gobold-Light-Italic.otf') format('otf'),
url('./../fonts/Gobold-Light.otf') format('otf'),
url('./../fonts/Gobold-Regular-Italic.otf') format('otf'),
url('./../fonts/Gobold-Regular.otf') format('otf'),
url('./../fonts/Gobold-Thin-Italic.otf') format('otf'),
url('./../fonts/Gobold-Thin.otf') format('otf'); */