@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #0a0a0a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #fafafa;
	}
}

html, body {
	height: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Utilities */
.container {
	@apply mx-auto max-w-6xl px-4;
}
